<form
  id="billingForm"
  [formGroup]="billingForm"
  (ngSubmit)="
    onSubmit(
      billingForm.value.name,
      billingForm.value.email,
      billingForm.value.phone,
      billingForm.value.address
    )
  "
>
  <mat-label>Billing Info</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Your name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Your email</mat-label>
    <input
      matInput
      formControlName="email"
      placeholder="pk@example.com"
      required
    />
    <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Your phone number</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Your address</mat-label>
    <textarea formControlName="address" matInput></textarea>
  </mat-form-field>
  <button color="primary" mat-flat-button [disabled]="!isValid">Submit</button>
</form>
