<div *ngFor="let item of cartItems">
  <mat-card>
    <mat-card-title>
      {{ item.volumeInfo.title }}
      <img [src]="item.volumeInfo?.imageLinks?.thumbnail" />
    </mat-card-title>
    <mat-card-content>
      <div class="description">
        {{ item.volumeInfo.description }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="written">Written By {{ item.volumeInfo.authors }}</div>
      <mat-icon (click)="deleteItem(item.id)">delete_forever</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
