<div class="main">
  <div *ngFor="let collection of collections">
    <mat-card>
      <mat-card-title>
        {{ collection.title }}
      </mat-card-title>
      <mat-card-content>
        <div class="description">
          {{ collection.description }}
        </div>
        <div class="written">Written By {{ collection.authors }}</div>

        <div class="billingTitle">Billing Address:</div>
        <div class="name">Name:{{ collection.name }}</div>
        <div class="email">Email: {{ collection.email }}</div>
        <div class="phone">Phone:{{ collection.phone }}</div>
        <div class="address">Address: {{ collection.address }}</div>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </div>
</div>
