<form id="billingForm" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <mat-label>Billing Info</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Your name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Your email</mat-label>
    <input matInput placeholder="pk@example.com" required />
    <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Your phone number</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Your address</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button color="primary" mat-flat-button [disabled]="!isValid">Submit</button>
</form>
