<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <mat-form-field>
    <input
      matInput
      name="search"
      [ngModel]="searchWord"
      required
      #search="ngModel"
      placeholder="Search in Library"
    />
  </mat-form-field>
  <span (click)="onSubmit(f)" class="material-icons searchicon">search </span>
</form>
<div *ngFor="let item of items; let i = index">
  <mat-card (click)="getBookDetails(i)">
    <mat-card-title>
      {{ item.title }}
      <img [src]="item.imageLink" />
    </mat-card-title>
    <mat-card-content>
      <div class="description">
        {{ item.description }}
      </div>
      <div class="written">Written By {{ item.authors }}</div>
    </mat-card-content>
  </mat-card>
</div>
